@media (min-width: 1028px) {
  .Btn-com1 {
    margin-top: 10%;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    border-radius: 0.1rem;
    border: none;
    background-color: blue;
    padding: 1% 4%;
    color: white;
  }
}
/*# sourceMappingURL=Btn.css.map */