.Footer-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 8%;
  background: linear-gradient(135deg, rgba(12, 11, 11, 0.6), #080606);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);
  min-height: 30vh;
}

.Footer-main h1 {
  margin: 0 0 0 0;
}

.Footer-main .Logo {
  width: 8%;
}

.Footer-main .text-field {
  display: inline-block;
}

.Footer-main .text-field p {
  color: white;
}
/*# sourceMappingURL=Footer.css.map */