.Main-Home {
    font-family:  monospace;
  font-size: 5rem;
  text-align: center;
  font-weight: 700;
  color: #0f0f0f;
  padding-top: 8%;
  //title
  h1 {

    margin-top: 0%;
    font-size: 3.5rem;
    background: -webkit-linear-gradient(130deg,rgb(48, 2, 253), rgb(197, 194, 12));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  //first-line after main title
  .p-1{
    font-size: 1.5rem;
    color: #0f0f0f;
  }
  //second line
  .p-2{
    color:gray;
    font-size: 1rem;
    padding: 2% 2%;
  }
  //third line
  .p-3{
    color: gray;
    font-size: 0.8rem;
    padding:5% 5%;
  }

  //main div
  .div-first{
    padding: 1%;
    position: relative;
   min-height:30vh ;
   background-color: black;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   .Home-btn{
    background-color: #6F6B8B;
    color: white;
    border: 0.1px solid white;
    padding: 2%;
    transform: scale(0.5);
    border-radius: 6px;
    
   }
   .Down-arrow{
    color: white;
   }
  }
}

@media (min-width: 1028px) {
    .Main-Home {
        font-family:  monospace;
      font-size: 5rem;
      text-align: center;
      font-weight: 700;
      color: #0f0f0f;
      h1 {
        font-size: 5rem;
        background: -webkit-linear-gradient(130deg,rgb(48, 2, 253), rgb(197, 194, 12));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .p-1{
        font-size: 3rem;
        color: #0f0f0f;
      }
      .p-2{
        color: gray;
        font-size: 2rem;
        padding: 0% 2%;
      }
      .p-3{
        color: gray;
        font-size: 1rem;
        padding:1% 5%;
        margin: 0% 0%;
      }
      .div-first{
        margin: 0 auto 0 auto;
        width: 80%;
        padding: 1%;
        position: relative;
       min-height:30vh ;
       background-color: black;
       display: flex;
      justify-content: space-around;
       flex-direction: row;
       align-items: center;
       margin-bottom: 10%;
       .Home-btn{
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        border: 0.1px solid white;
        padding: 0.5% 2% 0.5% 2%;
        transform: scale(1.1);
        border-radius: 6px;
        
       }
       .Down-arrow{
        color: white;
        transform: rotate(-90deg);
       }
      }
    }
}