
@media (min-width: 1028px) {
  .Login-main {
    background-image: url(../imgs/pexels-pixabay-76969.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 15%;
    .login-card {
      padding: 2rem 1% 6rem 1%;
      border-radius: 2%;
      display: flex;
      flex-direction: column;
      max-width: 220px;
      align-items: center;
      margin: 0 auto 0 auto;

      //glass effect
      background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border-radius: 20px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
      .input-holder {
        text-align: center;
        margin-bottom: 10%;
        margin-top: 15%;
        p {
          float: left;
          padding: 0 0 0 0;
          margin: 0 0 2% 0;
          align-self: flex-start;
          margin-left: 10%;
        }
        input {
          margin-top: 1%;
          margin-bottom: 2%;
          border: none;
          outline: none;
          padding: 1% 1%;
          box-shadow: 0 0 1px 1px rgb(89, 89, 105);
        }
      }
     
      button:hover {
        box-shadow: 0 0 1px 1px blue;
      }
    }
  }
}
