@media (min-width: 1028px) {
  .Login-main {
    background-image: url(../imgs/pexels-pixabay-76969.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 15%;
  }
  .Login-main .login-card {
    padding: 2rem 1% 6rem 1%;
    border-radius: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 220px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto 0 auto;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
            box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  }
  .Login-main .login-card .input-holder {
    text-align: center;
    margin-bottom: 10%;
    margin-top: 15%;
  }
  .Login-main .login-card .input-holder p {
    float: left;
    padding: 0 0 0 0;
    margin: 0 0 2% 0;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 10%;
  }
  .Login-main .login-card .input-holder input {
    margin-top: 1%;
    margin-bottom: 2%;
    border: none;
    outline: none;
    padding: 1% 1%;
    -webkit-box-shadow: 0 0 1px 1px #595969;
            box-shadow: 0 0 1px 1px #595969;
  }
  .Login-main .login-card button:hover {
    -webkit-box-shadow: 0 0 1px 1px blue;
            box-shadow: 0 0 1px 1px blue;
  }
}
/*# sourceMappingURL=Login.css.map */