.Nav-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: linear-gradient(135deg, rgba(160, 144, 144, 0.4), #080606);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  overflow: hidden;
  position: fixed;
  z-index: 2;
}

.Nav-main h1 {
  width: 100%;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 0.8;
  text-shadow: 0 0 12px blue;
  color: #1d0101;
  margin-bottom: 0.8;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.Nav-main ul {
  text-align: center;
  width: 100%;
  margin: 0% 2% 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.Nav-main ul li {
  font-size: 1.2rem;
  cursor: pointer;
  padding: 1%;
  color: #1a0303;
  list-style: none;
}

.Nav-main ul li a {
  text-decoration: none;
  color: #bdc0d8;
}

.Nav-main ul li:hover {
  color: #cdff16;
  border-bottom: 1px solid white;
}

.Nav-main .Nav-burger-icon {
  color: white;
  position: absolute;
  right: 2%;
  top: 2%;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

@media (min-width: 1028px) {
  .Nav-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    background: linear-gradient(135deg, rgba(160, 144, 144, 0.4), #080606);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);
            box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);
  }
  .Nav-main h1 {
    margin-top: 0.8;
    text-shadow: 0 0 12px blue;
    color: white;
    margin-bottom: 0.8;
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    text-align: left;
  }
  .Nav-main ul {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    margin: 0% 2% 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 1%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .Nav-main ul li {
    font-size: 1.2rem;
    cursor: pointer;
    padding: 1%;
    color: white;
    list-style: none;
    margin-left: 4%;
  }
  .Nav-main ul li:hover {
    color: #bdc0d8;
    border-bottom: 1px solid white;
  }
  .Nav-main .Nav-burger-icon {
    color: white;
    display: none;
  }
}
/*# sourceMappingURL=Navbar.css.map */