.Nav-main {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(135deg, rgba(160, 144, 144, 0.4), rgba(8, 6, 6, 1));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);
  justify-content: center;
  width: 100%;
  overflow: hidden;
  position: fixed;
  z-index: 2;

  h1 {
    width: 100%;
    text-align: center;
    align-self: center;
    margin-top: 0.8;
    text-shadow: 0 0 12px blue;
    color: rgb(29, 1, 1);
    margin-bottom: 0.8;
    margin-left: auto;
    margin-right: auto;
    transform: scale(0.8);
  }
  ul {
    text-align: center;
    width: 100%;
    margin: 0% 2% 0 auto;
    display: flex;
    flex-direction: column;
    padding: 1%;
    justify-content: flex-end;
    li {
      font-size: 1.2rem;
      cursor: pointer;
      padding: 1%;
      color: rgb(26, 3, 3);
      list-style: none;
      a{
        text-decoration: none;
       color: #bdc0d8;
      }
     

    }
    li:hover {
      color: #cdff16;
      border-bottom: 1px solid white;
    }
  }
  .Nav-burger-icon{
    color: white;
    position: absolute;
    right: 2%;
    top: 2%;
    transform: scale(1.3);
  }
}

@media (min-width: 1028px) {
  .Nav-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow:hidden;
    background: linear-gradient(135deg, rgba(160, 144, 144, 0.4), rgba(8, 6, 6, 1));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);
    h1 {
      margin-top: 0.8;
      text-shadow: 0 0 12px blue;
      color: rgb(255, 255, 255);
      margin-bottom: 0.8;
      flex: 50%;
      text-align: left;
    }
    ul {
        flex: 50%;  
        margin: 0% 2% 0 auto;
         display: flex;
         flex-direction: row;
         padding: 1%;
        justify-content: flex-end;
      li {
        font-size: 1.2rem;
        cursor: pointer;
        padding: 1%;
        color: white;
        list-style: none;
        margin-left: 4%;
      }
      li:hover {
        color: #bdc0d8;
        border-bottom: 1px solid white;
      }
    }
    .Nav-burger-icon{
        color: white;
        display: none;
    }
  }
}
