.Registration-main {
  padding-top: 10%;
  padding-bottom: 10%;
  .RCard {
    border-radius: 12px;
    padding-top: 5%;
    padding-bottom: 5%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
    legend {
      margin: 2%;
    }

    input {
      padding: 1% 20%;
      margin: 2%;
    }
    .btn-signup {
      padding: 1% 2%;
      margin: 5%;
      background-color: gray;
      border: 1px solid black;
      border-radius: 4px;
    }
    margin: auto;
    box-shadow: 0 0 1px 1px black;
  }
}
