.Registration-main {
  padding-top: 10%;
  padding-bottom: 10%;
}

.Registration-main .RCard {
  border-radius: 12px;
  padding-top: 5%;
  padding-bottom: 5%;
  max-width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  text-align: center;
  margin: auto;
  -webkit-box-shadow: 0 0 1px 1px black;
          box-shadow: 0 0 1px 1px black;
}

.Registration-main .RCard legend {
  margin: 2%;
}

.Registration-main .RCard input {
  padding: 1% 20%;
  margin: 2%;
}

.Registration-main .RCard .btn-signup {
  padding: 1% 2%;
  margin: 5%;
  background-color: gray;
  border: 1px solid black;
  border-radius: 4px;
}
/*# sourceMappingURL=Registration.css.map */